@font-face {
  font-family: element-icons;
  src: url("./element-icons.woff") format("woff"), url("./element-icons.ttf") format("truetype");
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

[class*=" el-icon-"],
[class^="el-icon-"] {
  font-family: element-icons !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-menu::before { content: "\e798"; }
.el-icon-collection-tag::before { content: "\e765"; }
.el-icon-search::before { content: "\e778"; }
.el-icon-info::before { content: "\e7a1"; }
.el-icon-top::before { content: "\e6e6"; }
.el-icon-bottom::before { content: "\e6eb"; }
.el-icon-refresh-right::before { content: "\e6c8"; }
.el-icon-view::before { content: "\e6ce"; }
.el-icon-headset::before { content: "\e76f"; }
.el-icon-moon::before { content: "\e6f0"; }
.el-icon-sunny::before { content: "\e6f6"; }
.el-icon-close::before { content: "\e6db"; }
.el-icon-video-pause::before { content: "\e7c1"; }
.el-icon-video-play::before { content: "\e7c0"; }
.el-icon-minus::before { content: "\e6d8"; }
.el-icon-plus::before { content: "\e6d9"; }
.el-icon-loading::before { content: "\e6cf"; }

.el-icon-loading {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% { transform: rotateZ(0); }
  100% { transform: rotateZ(360deg); }
}
